@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v10/rP2Hp2ywxg089UriCZOIHQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: #f2f2f2;
  margin: 0;
}
header,
main,
footer {
  min-width: 100%;
}
/* navbar */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Open Sans';
  color: #0057b8;
}
p {
  font-size: 18px;
  font-family: 'DM Sans';
}

.navBar {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  align-items: center;
}

/*header */
.header-section {
  background-color: #ede9de;
  height: 32vh;
}
.header-text {
  text-align: center;
  padding-top: 4%;
  color: #0057b8;
}
.header-text h1 {
  font-size: 64px;
  font-family: 'Poppins';
}
.header-text p {
  font-size: 20px;
}

/* flex-container for header-skills  */
.flex {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.main-links {
  display: flex;
  padding: 25px;
  justify-content: center;
}

.key-skill {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small {
  width: 60px;
  height: 60px;
}
.project-header,
.key-skills-header h2 {
  padding: 25px;
  font-family: 'DM Sans';
  color: #0057b8;
}
.project-header,
.key-skills-header {
  background-color: #f2f2f2;
  width: 100%;
}
.key-skill {
  background-color: #f2f2f2;
}
.text h3 {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: #0057b8;
  margin-right: 40px;
  font-family: 'DM Sans';
  font-size: 26px;
}
.main-links a:after {
  content: '  |';
}

.keyskill-list {
  margin: auto;
}
.skills-list {
  display: flex;
  height: 270px;
  width: 48vw;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}
.list {
  margin: 25px;
  width: 60px;
  height: 60px;
  text-align: center;
}

/*project section */

.image-me {
  background-image: url('https://assets.codepen.io/1088576/purple.JPG');
}
.image-work {
  background-image: url(https://cdn.pixabay.com/photo/2020/08/25/18/28/workplace-5517744_960_720.jpg);
  order: -3;
  height: 300px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  left: 88px;
  top: 138px;
}
.quote-text {
  width: 400px;
  line-height: 1.5rem;
  z-index: 1;
  border: 1px solid;
  padding: 25px;
  background-color: #f2e9ce;
  box-shadow: 2px 2px 7px 1px #000;
}
.pic {
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 31px;
  right: 100px;
}
section.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0057b8;
  height: 55vh;
}
.text {
  width: 303px;
  line-height: 1.5rem;
}
section.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-wrapper {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  background-color: #f2e9ce;
  height: 45vh;
  padding: 50px;
}

.project {
  padding: 20px;
  background-color: #f2f2f2;
}
.project:hover {
  box-shadow: 2px 2px 7px 1px #000000;
}
.contact-me {
  height: 72vh;
  display: flex;
  align-items: center;
  background-image: url(https://cdn.pixabay.com/photo/2014/02/16/06/46/abstract-267046_960_720.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact-me-wrapper {
  padding: 15px;
  margin: auto;
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: center;
}
a.contact-anchor {
  margin: 0;
  font-size: 16px;
}
.contact-text {
  line-height: 3.5rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-me-form {
  width: 75%;
}

input {
  height: 40px;
  outline: none;
  border: none;
  background-color: #c9c9c9;
}
::placeholder {
  color: #000;
}
input,
label,
textarea {
  width: 50%;
  letter-spacing: 1px;
}
button {
  padding: 14px;
  outline: none;
  border: none;
  background-color: #203573;
  color: #f2f2f2;
  letter-spacing: 2px;
  font-weight: bold;
}
#message {
  background-color: #c9c9c9;
  border: none;
}
/* need a hover state to show button press */

.scroll-link:hover {
  border-bottom: 3px solid #f2c53d;
}

/* fontawesome colorized  */
.fa-css3 {
  color: #35a9dc;
}
.fa-html5 {
  color: #f16529;
}
.fa-sass {
  color: #c26191;
}
.fa-js {
  color: #f0db4f;
  background-color: #323330;
}
.fa-node {
  color: #3c873a;
}
.fa-git-alt {
  color: #f34f29;
}
.fa-bootstrap {
  color: #563d7c;
}
.fa-github {
  color: #424242;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-twitter {
  color: #1da1f2;
}

/* aboutme section */
.about-text {
  width: 900px;
  margin: auto;
  line-height: 2;
}
section.about-me-wrapper {
  height: 75vh;
}
.aboutme-header {
  text-align: center;
  font-size: 20px;
  margin: 25px 0 25px 0;
  padding: 25px;
}
.list-project,
blockquote,
figcaption {
  font-family: 'DM Sans';
}
.footer-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #a69a85;
}
/* scroll to the top smoothscrolling */
.top-link {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
  color: #f2c53d;
}
